
<div class="container">
  <div *ngIf="deleteError" class="alert alert-danger">
    Não foi possível apagar a foto
  </div>
  <div class="row">
    <div class="col-md-12">
        <div class="input-group">
          <span class="input-group-addon">
            <a [routerLink]="['/cadastro']" class="btn btn-primary">Nova foto</a>
          </span>
          <input type="text" value="{{ termoBusca }}" #inputBusca (input)="termoBusca = inputBusca.value" class="form-control">
        </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div *ngFor="let foto of fotos | filtroPorTitulo: termoBusca" class="col-md-3">
      <card titulo="{{ foto.titulo }}">
        <foto url="{{ foto.url }}" titulo="{{ foto.titulo }}"></foto>
        <br>
        <button class="btn btn-danger d-block mx-auto" (click)="removerFotinha(foto._id)">
          Apagar
        </button>
      </card>
    </div>
  </div>
</div>
