<!-- componente -->
<!-- https://github.com/caelum/caelumpic-server rodando em localhost:3000-->

<div class="container">


    <div class="form-group">
    	<div class="input-group">
    	  <span class="input-group-addon"><a [routerLink]="['/cadastro']" class="btn btn-primary">Nova foto</a></span>
    	  <input class="form-control" type="text" [value]="termoBusca"
    	    #inputBusca (input)="termoBusca = inputBusca.value">
    	  <br>
    	</div>
    </div>

    <div *ngIf="erroDelete" class="alert alert-danger">
      Não foi possível remover a foto
    </div>

    <div class="row">
      <div *ngFor="let foto of fotos | filtroPorTitulo : termoBusca" class="col-md-3">

        <card titulo="{{ foto.titulo | uppercase }}">
          <foto url="{{ foto.url }}" titulo="{{ foto.titulo }}"></foto>
          <br>
          <button class="btn btn-danger d-block mx-auto col-12" (click)="removerFoto(foto._id)">
            Apagar
          </button>
          <br>
          <a [routerLink]="['/editar', foto._id]" class="btn btn-primary d-block mx-auto">
            Editar
          </a>
        </card>

      </div>
    </div>
  </div>
